<!DOCTYPE html5>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>

<div id="DataTable-Idioma" th:fragment="DataTable-Idioma">
	<p-datatable datasource="DataTables.idioma" paginator rows="10" selectionmode="single" onrowselect="RowSelect.idioma" rowsPerPageOptions="5,10,20"> <th:block th:each="CampoTabla : ${listaCamposIdioma}">
		<p-column th:field="${CampoTabla}" th:headertext="${#strings.capitalize(CampoTabla)}" sortable filter filtermatchmode="contains"></p-column>
	</th:block> </p-datatable>

	<!-- Formulario creación de idiomas -->
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<p class="h2 text-center bg-light encabezado mt-3">Añadir un Idioma</p>
				<form method="post" action="#" th:action="@{/idioma/new/submit}" th:object="${idiomaForm}">
					<div class="form-group">
						<input placeholder="Nombre" maxlength="50" type="text" class="form-control" th:field="*{nombre}" required>
					</div>
					<div class="form-group mt-2">
						<textarea placeholder="Url de la imagen" style="resize: none" maxlength="250" class="form-control" rows="1" th:field="*{urlImagen}" required></textarea>
					</div>
					<button type="submit" class="btn btn-primary col-12 mt-2" onsubmit="hola()">Enviar</button>
				</form>
			</div>
		</div>
	</div>
	<div id="DataTable-Idioma-Dialog">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="row justify-content-around">
						<div class="col-12">
							<p class="h2 text-center bg-light encabezado mt-3">Idioma</p>
							<form>
								<div class="form-group">
									<label for="idIdioma">ID:</label>
									<input type="text" class="form-control" id="idIdioma" name="id">
								</div>
								<div class="form-group">
									<label for="nombreIdioma">Nombre:</label>
									<input type="text" class="form-control" id="nombreIdioma" name="nombre">
								</div>
								<div class="form-group">
									<label for="urlImagenIdioma">UrlImagen:</label>
									<textarea class="form-control" id="urlImagenIdioma" rows="3" name="urlImagen"></textarea>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="DataTable-Area" th:fragment="DataTable-Area">
	<p-datatable datasource="DataTables.area" paginator rows="10" selectionmode="single" onrowselect="RowSelect.area"> <th:block th:each="CampoTabla : ${listaCamposArea}">
		<p-column th:field="${CampoTabla}" th:headertext="${#strings.capitalize(CampoTabla)}" sortable filter filtermatchmode="contains"></p-column>
	</th:block> </p-datatable>
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<p class="h2 text-center bg-light encabezado mt-3">Añadir una Área</p>
				<form method="post" action="#" th:action="@{/area/new/submit}" th:object="${areaForm}">
					<div class="form-group">
						<input placeholder="Nombre" maxlength="25" type="text" class="form-control" th:field="*{nombre}" required>
					</div>
					<div class="form-group mt-2">
						<input placeholder="ID_Idioma" type="number" class="form-control" th:field="*{idioma}">
					</div>
					<button type="submit" class="btn btn-primary col-12 mt-2">Enviar</button>
				</form>
			</div>
		</div>
	</div>
</div>

<div id="DataTable-Categoria" th:fragment="DataTable-Categoria">
	<p-datatable datasource="DataTables.categoria" paginator rows="10" selectionmode="single" onrowselect="RowSelect.categoria"> <th:block th:each="CampoTabla : ${listaCamposCategoria}">
		<p-column th:field="${CampoTabla}" th:headertext="${#strings.capitalize(CampoTabla)}" sortable filter filtermatchmode="contains"></p-column>
	</th:block></p-datatable>
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<p class="h2 text-center bg-light encabezado mt-3">Añadir una Categoría</p>
				<form method="post" action="#" th:action="@{/categoria/new/submit}" th:object="${categoriaForm}">
					<div class="form-group">
						<input placeholder="Nombre" maxlength="25" type="text" class="form-control" th:field="*{nombre}" required>
					</div>
					<div class="form-group mt-2">
						<input placeholder="Descripcion" maxlength="100" type="text" class="form-control" th:field="*{descripcion}" required>
					</div>
					<div class="form-group mt-2">
						<input placeholder="ID_Area" type="number" class="form-control" th:field="*{area}">
					</div>
					<div class="form-group mt-2">
						<input placeholder="Explicacion" maxlength="200" type="text" class="form-control" th:field="*{explicacion}" required>
					</div>
					<div class="form-group mt-2">
						<input placeholder="Número máximo para recomendación inclusive" type="number" class="form-control" th:field="*{maxParaRecomendacion}" required>
					</div>
					<div class="form-group mt-2">
						<input placeholder="Recomendacion" type="text" class="form-control" th:field="*{recomendacion}" required>
					</div>
					<button type="submit" class="btn btn-primary col-12 mt-2">Enviar</button>
				</form>
			</div>
		</div>
	</div>
</div>

<div id="DataTable-Pregunta" th:fragment="DataTable-Pregunta">
	<p-datatable datasource="DataTables.pregunta" paginator rows="10" selectionmode="single" onrowselect="RowSelect.pregunta"> <th:block th:each="CampoTabla : ${listaCamposPregunta}">
		<p-column th:field="${CampoTabla}" th:headertext="${#strings.capitalize(CampoTabla)}" sortable filter filtermatchmode="contains"></p-column>
	</th:block></p-datatable>
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<p class="h2 text-center bg-light encabezado mt-3">Añadir una Pregunta</p>
				<form method="post" action="#" th:action="@{/pregunta/new/submit}" th:object="${preguntaForm}">
					<div class="form-group">
						<input placeholder="Pregunta" maxlength="150" type="text" class="form-control" th:field="*{pregunta}" required>
					</div>
					<div class="form-group mt-2">
						<input placeholder="ID_Categoría" type="number" class="form-control" th:field="*{categoria}">
					</div>
					<div class="form-group mt-2">
						<input placeholder="Recomendación" type="text" class="form-control" th:field="*{recomendacion}" required>
					</div>
					<div class="form-group mt-2">
						<input placeholder="Puntuación para hacer la recomendación inclusive" maxlength="25" type="text" class="form-control" th:field="*{puntuacionRecomendacion}" required>
					</div>
					<button type="submit" class="btn btn-primary col-12 mt-2">Enviar</button>
				</form>
			</div>
		</div>
	</div>
</div>

<div id="DataTable-Respuesta" th:fragment="DataTable-Respuesta">
	<p-datatable datasource="DataTables.respuesta" paginator rows="10" selectionmode="single" onrowselect="RowSelect.respuesta"> <th:block th:each="CampoTabla : ${listaCamposRespuesta}">
		<p-column th:field="${CampoTabla}" th:headertext="${#strings.capitalize(CampoTabla)}" sortable filter filtermatchmode="contains"></p-column>
	</th:block> </p-datatable>
	<!-- <p-column th:headertext="Operaciones">
	<template>
		<button type="button" class="btn btn-warning">Actualizar</button>
		<button type="button" class="btn btn-danger">Borrar</button>
	</template>
	</p-column> -->
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<p class="h2 text-center bg-light encabezado mt-3">Añadir una Respuesta</p>
				<form method="post" action="#" th:action="@{/respuesta/new/submit}" th:object="${respuestaForm}">
					<div class="form-group">
						<input placeholder="Respuesta" maxlength="20" type="text" class="form-control" th:field="*{respuesta}" required>
					</div>
					<button type="submit" class="btn btn-primary col-12 mt-2">Enviar</button>
				</form>
			</div>
		</div>
	</div>
</div>
</html>