<div id="DataTable-Idioma" th:fragment="DataTable-Idioma">
	<p-datatable datasource="DataTables.idioma" paginator rows="10" selectionmode="single"
		onrowselect="RowSelect.idioma">
		<th:block th:each="CampoTabla : ${listaCamposIdioma}">
			<p-column th:field="${CampoTabla}" th:headertext="${#strings.capitalize(CampoTabla)}" sortable filter
				filtermatchmode="contains"></p-column>
		</th:block>
		<p-column th:headertext="Operaciones">
			<template>
				<button type="button" class="btn btn-warning">Actualizar</button>
				<button type="button" class="btn btn-danger">Borrar</button>
			</template>
		</p-column>
	</p-datatable>
</div>

<div id="DataTable-Area" th:fragment="DataTable-Area">
	<p-datatable datasource="DataTables.area" paginator rows="10" selectionmode="single" onrowselect="RowSelect.area">
		<th:block th:each="CampoTabla : ${listaCamposArea}">
			<p-column th:field="${CampoTabla}" th:headertext="${#strings.capitalize(CampoTabla)}" sortable filter
				filtermatchmode="contains"></p-column>
		</th:block>
		<p-column th:headertext="Operaciones">
			<template>
				<button type="button" class="btn btn-warning">Actualizar</button>
				<button type="button" class="btn btn-danger">Borrar</button>
			</template>
		</p-column>
	</p-datatable>
</div>

<div id="DataTable-Categoria" th:fragment="DataTable-Categoria">
	<p-datatable datasource="DataTables.categoria" paginator rows="10" selectionmode="single"
		onrowselect="RowSelect.categoria">
		<th:block th:each="CampoTabla : ${listaCamposCategoria}">
			<p-column th:field="${CampoTabla}" th:headertext="${#strings.capitalize(CampoTabla)}" sortable filter
				filtermatchmode="contains"></p-column>
		</th:block>
		<p-column th:headertext="Operaciones">
			<template>
				<button type="button" class="btn btn-warning">Actualizar</button>
				<button type="button" class="btn btn-danger">Borrar</button>
			</template>
		</p-column>
	</p-datatable>
</div>

<div id="DataTable-Pregunta" th:fragment="DataTable-Pregunta">
	<p-datatable datasource="DataTables.pregunta" paginator rows="10" selectionmode="single"
		onrowselect="RowSelect.pregunta">
		<th:block th:each="CampoTabla : ${listaCamposPregunta}">
			<p-column th:field="${CampoTabla}" th:headertext="${#strings.capitalize(CampoTabla)}" sortable filter
				filtermatchmode="contains"></p-column>
		</th:block>
		<p-column th:headertext="Operaciones">
			<template>
				<button type="button" class="btn btn-warning">Actualizar</button>
				<button type="button" class="btn btn-danger">Borrar</button>
			</template>
		</p-column>
	</p-datatable>
</div>

<div id="DataTable-Respuesta" th:fragment="DataTable-Respuesta">
	<p-datatable datasource="DataTables.respuesta" paginator rows="10" selectionmode="single"
		onrowselect="RowSelect.respuesta">
		<th:block th:each="CampoTabla : ${listaCamposRespuesta}">
			<p-column th:field="${CampoTabla}" th:headertext="${#strings.capitalize(CampoTabla)}" sortable filter
				filtermatchmode="contains"></p-column>
		</th:block>
		<p-column th:headertext="Operaciones">
			<template>
				<button type="button" class="btn btn-warning">Actualizar</button>
				<button type="button" class="btn btn-danger">Borrar</button>
			</template>
		</p-column>
	</p-datatable>
</div>