@charset "UTF-8";

td.centeredColumnContent{
    text-align: center;
}

body {
  background-color: #e8eaeb;
} 

.encabezado {
  color: #DE0058;
  font-weight: bolder;
  font-style: italic;
}

.centrado{
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
	color: blue !important;
}

.ui-tabs-panel .ui-widget-content .ui-corner-bottom{
	padding: 1px 1px !important;
}

.ui-tabs .ui-tabs-panel{
	padding: 1px 1px !important;
	text-align: center;
}

.ui-selectonemenu-item {
    text-align: center;
}

thead{
	text-align: center;
}

.ui-tabs-header {
	text-align: center;
	width: 225px;
}

.ui-tabs .ui-tabs-nav li a {
	width: 100%;
}

.ui-tabs.ui-tabs-top > .ui-tabs-nav {
	text-align: center;
}