<!DOCTYPE html>
<html lang='es' xmlns:th="http://www.thyemeleaf.org">

<head>
<meta charset='UTF-8'>
<link href="/css/login.css" rel="stylesheet">
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
</head>

<body>
	<div class="login">
		<form method="post" th:action="@{/login}">
			<input type="text" name="username" placeholder="Usuario" required="required" class="mt-2" autofocus />
			<input type="password" name="password" placeholder="Contraseña" required="required" class="mt-2" />
			<button type="submit" class="btn btn-primary btn-block btn-large mt-2">Entrar</button>
		</form>
	</div>

	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" th:src="@{/webjars/jquery/jquery.min.js}"></script>
</body>
</html>